<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c{1} - %msg%n" />
        </Console>

        <!-- Archivo de logs -->
        <RollingFile name="FileLogger"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Rota el fichero cada día -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
   

        <!-- Logger raíz (para todo el proyecto) -->
        <Root level="info">
            <AppenderRef ref="Console" />
              <AppenderRef ref="FileLogger" />
        </Root>
    </Loggers>

</Configuration>
